// culturefeed agenda search block

@media @wide {
  #culturefeed-agenda-search-block-form .form-group {
    margin-bottom: 0;
  }
}

@media @normal {
  #culturefeed-agenda-search-block-form .form-group {
    margin-bottom: 0;
  }
}

#current-location {
  font-weight: bold;
}  

.form-item-nearby {
  margin-top: 10px;
  .searching-location:before {
    color: @gray-light;
    content: 'locatie wordt gezocht';
    font-family: @icon-font-name;
    font-size: @font-size-small;
    font-weight: normal;
  }
}

// culturefeed search ui blocks

.region-sidebar-first {
  .block-culturefeed-search-ui {
    margin-bottom: 20px;
  }
}

.facet-label {
  border-bottom: 1px solid #DDD;
  padding: @padding-small-vertical 0;
  &.active {
    background: @gray;
    border-radius: @border-radius-small;
    color: @gray-lighter;
    margin: @padding-small-vertical -@padding-small-horizontal;
    padding: @padding-small-vertical @padding-small-horizontal;
    a {
      color: @gray-light;
      font-weight: bold;
      &:hover {
        color: @gray-lighter;
        text-decoration: none;
      }
    }
  }
}

.facet-level-2 {
  display: none;
}

.active-parent .facet-level-2, .active + .facet-level-2 {
  display: block;
}

// language block

.block-locale .nav > li > a {
  padding: @padding-small-vertical @padding-small-horizontal;
  text-transform: uppercase;
}