// fix padding on body with fixed navbar and admin_menu_toolbar

body {
  // Fix horizontal scrolling on iOS devices.
  // http://drupal.org/node/1870076
  position: relative;
  &.admin-expanded.admin-vertical.admin-nw .navbar,
  &.admin-expanded.admin-vertical.admin-sw .navbar {
    margin-left: 260px;
  }
  // Add padding to body if various toolbar or navbars are fixed on top.
  &.navbar-is-fixed-top {
    padding-top: 64px !important;
  }
  &.navbar-is-fixed-bottom {
    padding-bottom: 64px !important;
  }
  &.toolbar {
    padding-top: 30px !important;
    .navbar-fixed-top {
      top: 30px;
    }
    &.navbar-is-fixed-top {
      padding-top: 94px !important;
    }
  }
  &.toolbar-drawer {
    padding-top: 64px !important;
    .navbar-fixed-top {
      top: 64px;
    }
    &.navbar-is-fixed-top {
      padding-top: 128px !important;
    }
  }
  // Admin_menu toolbar.
  &.admin-menu {
    .navbar-fixed-top {
      top: 29px;
    }
    &.navbar-is-fixed-top {
      padding-top: 93px !important;
    }
  }
  div#admin-toolbar {
    z-index: 1600;
  }
  // Override box-shadow styles on all "admin" menus.
  #toolbar, #admin-menu, #admin-toolbar {
    .box-shadow(none);
  }
  // Override #admin-menu style.
  #admin-menu {
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1600;
    .dropdown li {
      line-height: normal;
    }
  }
}

// block titles

.block-title {
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  font-size: 21px;
  line-height: @headings-line-height;
  margin-bottom: 20px;
}

// headings

h1, h2, h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

// breadcrumb

.breadcrumb {
  padding: 0;
  background-color: inherit;
  border-radius: inherit;
  font-size: 85%;
}

// page-header

#page-header {
  background-color: @gray-lighter;
  margin-top: -15px;
  margin-bottom: 20px;
  padding: 10px;
}

// fix for use with admin toolbar
body.admin-menu {
  #page-header {
    margin-top: -40px;
  }
}

// culturefeed agenda search block

.form-item-nearby label {
  font-size: @font-size-small;
}

#current-location {
  font-weight: bold;
  font-size: @font-size-small;
}  

.form-item-nearby {
  margin-top: 10px; 
  .searching-location:before {
    color: @gray-light;
    content: "\f110";
    font-family: FontAwesome;
  }
  .searching-location:after {
    color: @gray-light;
    content: 'locatie wordt gezocht';
    font-family: @icon-font-name;
    font-size: @font-size-small;
    font-weight: normal;
  }
}

// culturefeed search page title

.page-agenda-search {
  h1.page-header {
    position: absolute;
    left: -9999em;
  }
}

// culturefeed search ui blocks

.region-sidebar-first {
  .block-culturefeed-search-ui {
    margin-bottom: 20px;
  }
}

.block-culturefeed-search-ui ul {
  .list-unstyled();
  ul {
    margin-left: 10px;
    display: none;
  }
  .facet-label.active ~ ul,
  ul.active-parent,
  li.active-parent > ul {
    display: block;
  }
}

.region-sidebar-second {
  .block {
    margin-bottom: 40px;
    position: relative;
  }
}

.facet-label {
  border-bottom: 1px solid #DDD;
  padding: @padding-small-vertical 0;
  &.active {
    background: @gray;
    border-radius: @border-radius-small;
    color: @gray-lighter;
    margin: @padding-small-vertical -@padding-small-horizontal;
    padding: @padding-small-vertical @padding-small-horizontal;
    a {
      color: @gray-light;
      font-weight: bold;
      &:hover {
        color: @gray-lighter;
        text-decoration: none;
      }
    }
  }
}

// responsive facets

#facet-container {
  .collapse();
}

.toggle-facet {
  i:after {
    content: '\f0d7';
    font-family: "FontAwesome";
  }
  .collapsed {
    i:after {
      content: '\f0da';
    }
  }
}

@media @tablet {
  #facet-container {
    .show();
  }
}

// culturefeed search result

@media @tablet {
  .cf-short-description {
    display: inline !important;
  }
}

// override default glyphicon throbbers

.glyphicon {
  font-family: FontAwesome;
}

.glyphicon-refresh {
  -webkit-transform-origin: 50% 49%;
  -moz-transform-origin: 50% 49%;
  -ms-transform-origin: 50% 49%;
  -o-transform-origin: 50% 49%;
  transform-origin: 50% 49%;
}

.glyphicon-refresh:before {
  content: "\F021";
}

// datepicker

.ui-widget {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 90%;
}

.ui-daterangepicker li.preset_0 {
  margin-top: 0 !important;
}


.ui-daterangepickercontain {
  .ui-daterangepicker {
    width: 470px;
    .ranges {
      width: 226px;
      .range-end {
        clear: left;
        margin-top: 15px;
      }
      a.ui-state-active {
        background-color: #428bca;
        background-image: none;
        border: 1px solid #428bca;
        color: #FFF;
      }
    }
  }
}

// search active filters & suggestions block

#block-culturefeed-search-ui-culturefeed-search-activefilters {
  font-size: 90%;
  .block-title {
    font-size: 125%;
    font-weight: bold;
    margin-bottom: 5px;
  }
  span.filter,
  span.suggestion {
    display: inline-block;
    padding-right: 15px;
  }
  a.filter-remove {
    font-size: 125%;
  }
}

// search_ui forms

.sortorder-form .form-group,
.sortorder-form .form-submit,
.block-culturefeed-search-ui .form-group,
.block-culturefeed-search-ui .form-submit,
.block-culturefeed-agenda .form-group,
.block-culturefeed-agenda .form-submit, {
  margin-bottom: 5px;
  margin-top: 5px;
}

// language block

.block-locale .nav > li > a {
  margin-bottom: 10px;
  padding: 3px 6px;
  text-transform: uppercase;
}

// thumbnail agenda

.page-agenda-search .media .thumbnail {
  max-width: 150px;
}

// blockquotes

blockquote p {
  font-size: 14px;
}

// new notification & message count

#block-culturefeed-ui-profile-box {
  .messages a,
  .notifications a {
    padding-right: 20px;
  }
}

.notification-count {
  display: block;
  position: relative;
  span {
    position: absolute;
    top: -22px;
    left: 12px;
  }
}
// profile menu

#block-culturefeed-ui-my-uitid .profile-menu {
  margin-top: -47px;
}

// block count labels

.count-number {
  position: absolute;
  right: 20px;
  top: 0;
}

// user-list blocks (followers, members, recommended by,...)

.user-list ul {
  max-height: 300px;
  overflow-y: auto;
}

.user-list li {
  padding-bottom: 10px;  
  padding-left: 0;  
  padding-right: 6px;
  padding-top: 0;
}

// related items

hr.small {
  margin-bottom: 10px;
  margin-top: 10px;
}

.scroll  {
  position: relative;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.scroll-300  {
  max-height: 300px;
}

.top {
  position: absolute;
  top: 0px;  
}

.right {
  position: absolute;
  right: 0px;  
}

.left {
  position: absolute;
  left: 0px;  
}


.bottom {
  position: absolute;
  bottom: 0px;  
}


.thumbnail .top {
  top: 2px;
} 


.thumbnail .right {
  right: 25px;
}

.no-gutter {
  padding-right: 0;
} 

.no-border {
  border: none;
}

// page-agenda-g detail

.page-agenda-g address {
  margin-bottom: 0;
}

// profile box

#block-culturefeed-ui-profile-box {
  &.contextual-links-region {
    position: inherit;
  }
  @media @wide {
    .current-user {
      display: inline !important;
    }
  }
  .dropdown-menu {
    max-height: 400px;
    overflow-y: auto;
  }
}

// messages inbox

.messages .active .text-muted {
  color: #FFF;
}

.messages a.list-group-item.message-READ {
  background-color: #f5f5f5;
}

.messages a.list-group-item.active {
  background-color: #00A3E0;
}

// page header 

.bg-invert {
  color: #fff;
  #gradient > .vertical(rgba(20,20,20,0.65); rgba(20,20,20,0.95); 0%; 80%);
}

.page-cover {
  margin-bottom: 15px;
  padding-top: 150px;
  background-repeat: no-repeat;
  background-color: rgb(20,20,20,1);

  .page-title {
    color: #FFF;
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 24px;
    font-weight: 500;
    text-shadow: black 2px 2px 1px;
  }
  
  .baseline {
    color: #ABABAB;
    text-shadow: black 1px 1px 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  
  .page-actions {
    margin-top: 15px;
    &.no-baseline {
      margin-top: 8px;
      .btn {
        padding: 3px 9px;
      }
    }
  }
  
  .page-actions a {
    box-shadow: black 0px 1px 1px;
  }
}

// cleanup calsum day

.calsum-day {
  display: inline-block;
  font-size: 80%;
  font-weight: 200;
  width: 23px;
  text-transform: uppercase;
  .text-muted()
}

// production program block

#block-culturefeed-agenda-production-program {
  .dl-horizontal dt {
    width: 120px;
  }
  
  .dl-horizontal dd {
    margin-left: 140px;
  }
}

// page suggestions block

.block-culturefeed-pages {
  position: relative;

  .all-pages-link {
    position: absolute;
    top: 0;
    right: 0;
  }

  .follow-button .btn {
    .btn-warning();
    .btn-xs();
    @media (max-width: @screen-sm) {
      margin-top:10px;
    }
  }
  label[for="edit-city"] {
    padding-top: 7px;
  }
  @media (max-width: @screen-sm) {
    .form-group {
      margin-bottom: 5px;
      margin-top: 0;  
    }
  }
}

// filter timeline

#culturefeed-pages-timeline-filter-form {
  text-align: right;
  .form-group {
    margin-bottom: 0;
    margin-top: 0;
  }
  select {
    width: auto;
    display: inline-block;
  }
}

// footer

footer {
  background-color: @gray-dark;
  color: @gray-lighter;
}