/**
 * @file
 * Culturefeed Bootstrap theme for the Calendar module.
 */

.calendar-months-navbar {
  .nav-month {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.calendar-activities-label {
  text-transform: uppercase;
  font-weight: 200;
}
