/* DETAIL PAGES */
  /* Promotion & advantages */
  .detail {
    [role="main"] {
      > div {
        margin-bottom: 15px;
      }
      p {
        margin-bottom: 30px;
      }
    }
  }
  .media {
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      margin: 0;
      padding: 0;
      + li {
        padding-top: 15px;
      }
    }
    img {
      .img-responsive;
    }
    a {
      position: relative;
      display: block;
      overflow: hidden;
      line-height: 0;
      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0, .4); 
      }
    }
  }

