/* Table user history */
.table {
  > thead > tr > th {
    font-size: .9em;
    letter-spacing: .05em;
    border-bottom: 1px solid @gray-dark;
  }
  > tbody > tr > td {
    font-size: .9em;
    background-color: white;
    a {
      color: @gray-dark;
      &:hover,
      &:focus {
        color: @link-color;
      }
    }
  }
  > tbody > tr:nth-child(odd) > td {
    background-color: white;
  }
}

@media screen and (max-width: @screen-xs-max) {
  table#activities-table {
    thead {
      display: none;
    }
    tr, td {
      display: block;
      width: 100%;
      color: @gray-light;
    }
    tr {
      border-top: 1px solid @gray-dark;
    }
    tr > td:first-child {
      font-weight: 600;
      font-size: 1em;
    }
  }
}
