/**
 * @file
 * Culturefeed Bootstrap theme for the Uitpas module.
 */

/* Promotions table.*/
.promotions_table table {
  clear: left;
}

.page_elements {
  margin-top: 50px;
}

/* uitpas register where form */

#culturefeed-uitpas-register-where-filter-form {
  .well();
  .form-type-select {
    display: block;
    margin: 0 0 10px;
    width: 100%;
    label {
      display: block;
      margin-bottom: 5px;
      width: 100%;
    }
  }
  @media screen and (min-width: @screen-xs) {
    .form-type-checkbox {
      float: left;
      margin: 0; 
      padding: 7px 20px;
      width: 50%;
    }
    .form-submit {
      margin: 0;
      width: 50%;
    }
  }
  @media screen and (min-width: @screen-md) {
    .form-type-select {
      float: left;
      padding-right: 15px;
      width: 50%;
      label {
        float: left;
        padding: 7px 15px 7px 0;
        margin: 0;
        width: 32%;
      }
      .form-control {
        width: 68%;
      }
    }
    .form-type-checkbox {
      width: 30%;
    }
    .form-submit {
      width: 20%;
    }
  }
}

/* promotion and advantages filters */

.filters-regions {
  .results-title {
    margin-top: 15px; 
    margin-bottom: 5px;   
    font-size: ceil(@font-size-base * 1.25);
  }
}

/* promotion and advantages table styles */

.overview {
  margin-bottom: 30px;
  article {
    border-bottom: 1px solid darken(@gray-lighter, 5%);
    color: @gray;
    padding: 15px;
    position: relative;
    .transition(background .2s ease-in-out);
    &:first-child {
      border-top: 1px solid @gray-lighter;
      margin-top: 5px;
    }
  }
  .content {
    @media screen and (min-width: @screen-xs) {
      padding-left: 15px;
      overflow: hidden;
    }
  }
  aside {
    border-top: 1px dashed @white;
    padding-top: 10px;
    margin-top: 10px;
    .label {
      float: left;
      margin-bottom: 5px;
      + .small {
        clear: both;
        display: inline-block;
      }
    }
    @media screen and (min-width: @screen-md) {
      border-top: none;
      margin-top: 0;
      padding-top: 0;
      text-align: right;
      .label {
        float: none;
      }
    }
  }
  h2 {
    font-size: ceil(@font-size-base * 1.5); /* like h3 */
    font-weight: normal;
    margin: 10px 0 0;
  }
}
