.media {
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    .make-row();
    @media screen and (max-width: @screen-xs-max) {
      display: flex;
    }
  }
  li {
    margin: 0;
    padding: 0;
    .make-xs-column(6);
    .make-sm-column(12);
    + li {
      padding-top: 15px;
    }
  }
  img {
    .img-responsive;
  }
}

.promotions_table,
.advantages_table {
  clear: both;
}
