/* All user profile pages */
.page-header {
  font-size: floor(@font-size-base * 2.15); 
  font-weight: 600;
  letter-spacing: .05em;
}

/* Profile tabs */
.culturefeed-profile-shortcuts {
  margin-bottom: 12px;
  padding-left: 0;
  list-style: none;
  overflow: hidden;
  > li {
    list-style: none;
    display: block;
    padding-left: 0;
    text-align: left;
    border-top: 1px solid @gray-lighter;
    border-bottom: 1px solid @gray-dark;
    @media screen and (min-width: @screen-xs) {
      width: 33.333%;
      float: left;
      text-align: center;
    }
    @media screen and (min-width: @screen-sm) {
      border-top: none;
    }
    a {
      font-size: .8em;
      display: inline-block;
      padding-bottom: 10px;
      padding-top: 10px;
      margin-bottom: -1px;
      border-bottom: 4px solid transparent;
      color: @gray-light;
      font-weight: 600;
      letter-spacing: .05em;
      text-decoration: none;
      text-transform: uppercase;
      .transition(~"border .2s ease-in-out, color .2s ease-in-out");
      &:hover,
      &:focus {
        color: @gray-dark;
        border-bottom: 4px solid @brand-primary;
      }
      @media screen and (min-width: @screen-sm) {
        font-size: 1em;
      }
      @media screen and (min-width: @screen-md) {
        font-size: 1.25em;
      }
    }
    &.first {
      @media screen and (min-width: @screen-xs) {
        text-align: left;
      }
    }
    &.last {
      text-align: left;
      @media screen and (min-width: @screen-xs) {
        text-align: right;
      }
    }
    &.active {
      a {
        color: @gray-dark;
        border-bottom-color: @brand-primary;
      }
    } 
  }
}

/* Profile link blocks */
.block-links {
  ul,
  ul li {
    list-style: none;
    padding-left: 0;
  }
  li > a {
    text-decoration: underline;
  }
  li {
    padding: 0 0 10px;
    + li {
      //border-top: 1px solid @gray-lighter;
    }
  }
}
.user-accounts {
  .profile-pic {
    display: inline-block;
    margin: 0 10px 10px 0;
  }
  .profile-nick {
    display: inline-block;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .inside {
    margin-top: 20px;
    padding: 15px 0;
    background-color: @gray-lighter;
    position: relative;
    &:before {
      position: absolute;
      top: -12px;
      left: 24px;
      content: '';
      width: 0; 
      height: 0; 
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid @gray-lighter;
    }
  }
}
.privacy-link {
  &:after {
    .fa-icon();
    content: @fa-var-angle-down;
    margin-left: 5px;
  }
}
.date {
  color: @gray-light;
  margin: 10px 0;
}
.statement {
  display: block;
  overflow: hidden;
  color: @gray-light;
  font-size: .85em;
  padding-top: 9px;
  a {
    color: @gray-light;
    text-decoration: underline;
  }
}
.remove-link,
.revoke-link {
  &:after {
    .fa-icon();
    content: @fa-var-trash-o;
    margin-left: 5px;
  }
}
