/* Forms */
#change-password {
  display: inline-block;
}

.main-container form {
  margin-bottom: 1.5em;
}

// tooltip description email
.form-item-mbox {
  position: relative;
  .tooltip {
    width: 100%;
  }
}

// register where
#culturefeed-uitpas-register-where-filter-form {
  .form-type-select {
    display: block;
    margin: 0 0 10px;
    width: 100%;
    label {
      display: block;
      margin-bottom: 5px;
      width: 100%;
    }
  }
  @media screen and (min-width: @screen-xs) {
    .form-type-checkbox {
      float: left;
      width: 50%;
    }
    .form-submit {
      margin: 0;
      width: 50%;
    }
  }
  @media screen and (min-width: @screen-md) {
    .form-type-select {
      float: left;
      padding-right: 15px;
      width: 50%;
      label {
        float: left;
        padding: 5px 15px 5px 0;
        margin: 0;
        width: 30%;
      }
      .form-control {
        width: 70%;
      }
    }
    .form-type-checkbox {
      width: 30%;
    }
    .form-submit {
      width: 20%;
    }
  }
}
