/* Forms */
#change-password {
  display: inline-block;
}

.main-container form {
  margin-bottom: 1.5em;
}

// tooltip description email
.form-item-mbox {
  position: relative;
  .tooltip {
    width: 100%;
  }
}
