.points-value {
  background-color: @link-color;
  padding: 2px 10px;
  border-radius: 10px;
  color: @white;
  font-size: .75em;
  &__brand {
    background-color: @brand-primary;
  }
}
.points-value + .points-remark:before {
  content: '';
  display: block;
}
.points-remark {
  color: @link-color;
  font-size: .75em;
  font-style: italic;
}
.provider {
  font-size: .85em;
}
.out-of-stock,
.insufficient-points {
  .points-value,
  .points-value__brand {
    color: @white;
    background-color: @gray-light;
  }
  .points-remark {
    color: @gray-light;
  }
}
[id*="promotions-filter-sort"] > h2 {
  font-size: ceil(@font-size-base * 1.25); /* like h4 */
  em {
    color: @brand-primary;
    font-style: normal;
  }
  small {
    color: @gray-darker;
  }
}
.locations {
  color: @gray;
}
.availability {
  font-style: italic;
  i {
    margin-right: 5px;
  }
}

.profile-promotions {
  margin-bottom: 1em;
}

.media {
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    .make-row();
    @media screen and (max-width: @screen-xs-max) {
      display: flex;
    }
  }
  li {
    margin: 0;
    padding: 0;
    .make-xs-column(6);
    .make-sm-column(12);
    + li {
      padding-top: 15px;
    }
  }
  img {
    .img-responsive;
  }
}
