.media {
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    .make-row();
    @media screen and (max-width: @screen-xs-max) {
      display: flex;
    }
  }
  li {
    margin: 0;
    padding: 0;
    .make-xs-column(6);
    .make-sm-column(12);
    + li {
      padding-top: 15px;
    }
  }
  img {
    .img-responsive;
  }
}

// overview tables
.promotions_table,
.advantages_table {
  clear: both;
}


// promotion detail table
.promotion-detail {
  .table {
    margin-top: 20px;
    ul, ol {
      padding-left: 15px;
    }
  }
}

// Filters regions top
[id*='advantages-filter-sort'],
[id*='promotions-filter-sort'], {
  .form-radios,
  .form-checkboxes {
    .clearfix();
    margin: 5px -3px 10px;
    .form-radios,
    .form-checkboxes {
      margin: 0;
    }
    .radio,
    .checkbox {
      display: inline-block;
      border: 1px solid @gray-lighter;
      border-radius: @border-radius-base;
      float: left;
      margin: 0 3px 5px;
      padding: 5px 6px;
    }
    .ajax-progress {
      margin: 0 3px 0 -2px;
    }
    input {
      margin: 3px 5px 0 0;
      &[checked='checked'] + label {
        color: @brand-primary;
        font-weight: bold;
      }
    }
  }
}
